<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<h1>Star Wars Application</h1>
<p><%= person[0].name %></p>
<p><%= person[1].name %></p>
<p><%= person[2].name %></p>
<p><%= person[3].name %></p>
<p><%= person[4].name %></p>
<p><%= person[5].name %></p>
<p><%= person[6].name %></p>
<p><%= person[7].name %></p>
<p><%= person[8].name %></p>
<p><%= person[9].name %></p>
<p id="people"></p>
</body>
</html>